<a href="https://colab.research.google.com/github/rayhandonipramana/PraktikumAlgoritma_Rayhan-Doni-Pramana/blob/main/PrakAlgo9_Elkom1_4_Rayhan_Doni_Pramana.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print('@@@@ @@@@ @   @ @  @ @@@@ @@    @')
print('@  @ @  @  @ @  @  @ @  @ @ @   @')
print('@@@@ @@@@   @   @@@@ @@@@ @  @  @')
print('@ @  @  @   @   @  @ @  @ @   @ @')
print('@  @ @  @   @   @  @ @  @ @    @@')
print("=============ELKOM 1=============")
# List yang akan dikonversi menjadi tuple
list_angka = [1, 3, 5, 7, 9, 11]

# Mengkonversi list menjadi tuple
tuple_hasil = tuple(list_angka)

# Output hasil konversi
print(list_angka)
print("Hasil reverse ke tuple")
print(tuple_hasil)

@@@@ @@@@ @   @ @  @ @@@@ @@    @
@  @ @  @  @ @  @  @ @  @ @ @   @
@@@@ @@@@   @   @@@@ @@@@ @  @  @
@ @  @  @   @   @  @ @  @ @   @ @
@  @ @  @   @   @  @ @  @ @    @@
=============ELKOM 1=============
[1, 3, 5, 7, 9, 11]
Hasil reverse ke tuple
(1, 3, 5, 7, 9, 11)

In [1]:
print('@@@@ @@@@ @   @ @  @ @@@@ @@    @')
print('@  @ @  @  @ @  @  @ @  @ @ @   @')
print('@@@@ @@@@   @   @@@@ @@@@ @  @  @')
print('@ @  @  @   @   @  @ @  @ @   @ @')
print('@  @ @  @   @   @  @ @  @ @    @@')
print("=============ELKOM 2=============")
# Tuple yang berisi beberapa tuple dengan nilai numerik
tuple_utama = ('1030, 1031, 1032', '1034, 1035, 1036', '1038, 1039, 1040')

# Fungsi untuk menghitung rata-rata dari sebuah tuple yang berisi beberapa tuple numerik
def hitung_rata_rata_tuple(tuple_utama):
    list_angka = [list(map(int, item.split(', '))) for item in tuple_utama]

    # Menghitung rata-rata untuk setiap kolom
    rata_rata_kolom = [sum(item) / 9 for item in zip(*list_angka)]

    return rata_rata_kolom

# Memanggil fungsi hitung_rata_rata_tuple dan menampilkan hasilnya
rata_rata = hitung_rata_rata_tuple(tuple_utama)
print(tuple_utama)
print("Rata-rata dari tuple adalah:")
print(rata_rata)

@@@@ @@@@ @   @ @  @ @@@@ @@    @
@  @ @  @  @ @  @  @ @  @ @ @   @
@@@@ @@@@   @   @@@@ @@@@ @  @  @
@ @  @  @   @   @  @ @  @ @   @ @
@  @ @  @   @   @  @ @  @ @    @@
=============ELKOM 2=============
('1030, 1031, 1032', '1034, 1035, 1036', '1038, 1039, 1040')
Rata-rata dari tuple adalah:
[344.6666666666667, 345.0, 345.3333333333333]

In [33]:
print('@@@@ @@@@ @   @ @  @ @@@@ @@    @')
print('@  @ @  @  @ @  @  @ @  @ @ @   @')
print('@@@@ @@@@   @   @@@@ @@@@ @  @  @')
print('@ @  @  @   @   @  @ @  @ @   @ @')
print('@  @ @  @   @   @  @ @  @ @    @@')
print("=============ELKOM 3=============")
# List dengan nilai 1, 2, 3, 4, 5
list_nilai = [1, 2, 3, 4, 5]

# Fungsi untuk menghitung hasil kali dari semua nilai dalam list
def hitung_hasil_kali(list_nilai):
    hasil_kali = 1

    # Iterasi melalui setiap nilai dalam list dan mengalikan dengan hasil_kali
    for nilai in list_nilai:
        hasil_kali *= nilai

    return hasil_kali

# Memanggil fungsi hitung_hasil_kali untuk list [1, 2, 3, 4, 5] dan menampilkan hasilnya
hasil_kali = hitung_hasil_kali(list_nilai)
print(list_nilai)
print(hasil_kali)

@@@@ @@@@ @   @ @  @ @@@@ @@    @
@  @ @  @  @ @  @  @ @  @ @ @   @
@@@@ @@@@   @   @@@@ @@@@ @  @  @
@ @  @  @   @   @  @ @  @ @   @ @
@  @ @  @   @   @  @ @  @ @    @@
===============ELKOM 3===============
[1, 2, 3, 4, 5]
120

In [2]:
print('@@@@ @@@@ @   @ @  @ @@@@ @@    @')
print('@  @ @  @  @ @  @  @ @  @ @ @   @')
print('@@@@ @@@@   @   @@@@ @@@@ @  @  @')
print('@ @  @  @   @   @  @ @  @ @   @ @')
print('@  @ @  @   @   @  @ @  @ @    @@')
print("=============ELKOM 4=============")
# Fungsi untuk menghitung jumlah string dalam list dengan karakter pertama dan terakhir yang sama
def hitung_string_sama(list_strings):
    jumlah_string = 0

    # Iterasi melalui setiap string dalam list
    for string in list_strings:
        # Mengecek jika itu string, panjang minimal 2, dan karakter pertama sama dengan karakter terakhir
        if isinstance(string, str) and len(string) >= 2 and string[0] == string[-1]:
            jumlah_string += 1

    return jumlah_string

# List yang akan diperiksa
list_strings = ['d', 'aba', 'aca', 300]

# Memanggil fungsi hitung_string_sama dan menampilkan hasilnya
jumlah = hitung_string_sama(list_strings)
print(list_strings)
print("Terdapat string yang memenuhi syarat sebanyak", jumlah)

@@@@ @@@@ @   @ @  @ @@@@ @@    @
@  @ @  @  @ @  @  @ @  @ @ @   @
@@@@ @@@@   @   @@@@ @@@@ @  @  @
@ @  @  @   @   @  @ @  @ @   @ @
@  @ @  @   @   @  @ @  @ @    @@
=============ELKOM 4=============
['d', 'aba', 'aca', 300]
Terdapat string yang memenuhi syarat sebanyak 2